<!-- Main sidebar -->
<div class="sidebar sidebar-light sidebar-main sidebar-expand-md">

    <!-- Sidebar mobile toggler -->
    <div class="sidebar-mobile-toggler text-center">
        <a class="sidebar-mobile-main-toggle" href="#">
            <i class="icon-arrow-left8"></i>
        </a>
        Navigation
        <a class="sidebar-mobile-expand" href="#">
            <i class="icon-screen-full"></i>
            <i class="icon-screen-normal"></i>
        </a>
    </div>
    <!-- /sidebar mobile toggler -->


    <!-- Sidebar content -->
    <div class="sidebar-content">

        <!-- User menu -->
        <div class="sidebar-user">
            <div class="card-body">
                <div class="media">
                    <div class="mr-3">
                        <a href="#"><img alt="" class="rounded-circle" height="38"
                                         src="https://randomuser.me/api/portraits/men/37.jpg" width="38"></a>
                    </div>

                    <div class="media-body">
                        <div class="media-title font-weight-semibold">Abelardo León Gonzálezr</div>
                        <div class="font-size-xs opacity-50">
                            <i class="icon-pin font-size-sm"></i> Madrid, ESP
                        </div>
                    </div>

                    <div class="ml-3 align-self-center">
                        <a class="text-white" href="#"><i class="icon-cog3"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /user menu -->


        <!-- Main navigation -->
        <div class="card card-sidebar-mobile">
            <ul class="nav nav-sidebar" data-nav-type="accordion">

                <!-- Main -->
                <li class="nav-item-header">
                    <div class="text-uppercase font-size-xs line-height-xs">Principal</div>
                    <i class="icon-menu" title="Main"></i></li>
                <li class="nav-item">
                    <a class="nav-link active" href="index.html">
                        <i class="icon-home4"></i>
                        <span>
									Panel de control
								</span>
                    </a>
                </li>
                <!-- /main -->

                <!-- Actividades -->
                <li class="nav-item-header">
                    <div class="text-uppercase font-size-xs line-height-xs">Actividades</div>
                    <i class="icon-menu" title="Forms"></i></li>
                <li class="nav-item nav-item-submenu">
                    <a class="nav-link" href="#"><i class="icon-copy"></i> <span>Actividades</span></a>
                </li>
                <!-- /Actividades -->

                <!-- Reservas -->
                <li class="nav-item-header">
                    <div class="text-uppercase font-size-xs line-height-xs">Reservas</div>
                    <i class="icon-menu" title="Forms"></i></li>
                <li class="nav-item nav-item-submenu">
                    <a class="nav-link" href="#"><i class="icon-copy"></i> <span>Reservas</span></a>
                </li>
                <!-- /Reservas -->

                <!-- Data visualization -->
                <li class="nav-item-header">
                    <div class="text-uppercase font-size-xs line-height-xs">Visualización de datos</div>
                    <i class="icon-menu" title="Data visualization"></i></li>
                <!-- /data visualization -->

                <!-- Extensions -->
                <li class="nav-item-header">
                    <div class="text-uppercase font-size-xs line-height-xs">Extensiones</div>
                    <i class="icon-menu" title="Extensions"></i></li>
                <!-- /extensions -->

                <!-- Tables -->
                <li class="nav-item-header">
                    <div class="text-uppercase font-size-xs line-height-xs">Tablas de datos</div>
                    <i class="icon-menu" title="Tables"></i></li>
                <!-- /tables -->

                <!-- Page kits -->
                <li class="nav-item-header">
                    <div class="text-uppercase font-size-xs line-height-xs">Utilidades</div>
                    <i class="icon-menu" title="Page kits"></i></li>
                <!-- /page kits -->
            </ul>
        </div>
        <!-- /main navigation -->

    </div>
    <!-- /sidebar content -->

</div>
<!-- /main sidebar -->
