{% extends 'base.html.twig' %}

{% block body %}
    <div class="content pt-0">

        <h1>¡Ops, página no encontrada!</h1>

        <p>
            La página solicitada no existe. Actualiza tus marcadores o <a href="{{ path('showInitialForm') }}">regresa a
                la página principal</a>.
        </p>
    </div>
{% endblock %}
